{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block extend_style %}{% endblock extend_style %}
</head>
<body class="bg-light">
    <header class="mb-3">
        {% include "navbar.html" %}
    </header>
    {% block breadcrumb %}{% endblock breadcrumb %}
    <main class="container">
        {% block main_content %}{% endblock main_content %}
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extend_script %}{% endblock extend_script%}
</body>
</html>